<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543891220357-24lanacrhd94lrflrjg7eokic0l5u7ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543891220357-24lanacrhd94lrflrjg7eokic0l5u7ga</string>
	<key>API_KEY</key>
	<string>AIzaSyCt_94CJEp7pBwdVFzjJkdDxOk08k3xaQY</string>
	<key>GCM_SENDER_ID</key>
	<string>543891220357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.LocalaizationLogIn</string>
	<key>PROJECT_ID</key>
	<string>finalproject-439ea</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-439ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543891220357:ios:2f7ee2cd8e7c05fbed06ec</string>
</dict>
</plist>